---
# tasks file for tenantnamespace

# Check to see release exists. If it doesnt continue on. If it does, delete it.
- name: Delete the helm release
  kubernetes.core.helm:
    name: "{{ ansible_operator_meta.name }}"
    namespace: "{{ ansible_operator_meta.name }}-admin"
    state: absent
  register: _objs

- name: Delete the k8s user namespace
  kubernetes.core.k8s:
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ ansible_operator_meta.name }}"

- name: Delete the k8s admin namespace
  kubernetes.core.k8s:
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ ansible_operator_meta.name }}-admin"
