---
# tasks file for tenantnamespace

#Check to see release exists. If it doesnt continue on. If it does, delete it.
- name: Delete the helm release
  helm:
    name: "{{ meta.name }}"
    namespace: "{{ meta.name }}-admin"
    state: absent
  register: objs

- name: Delete the k8s user namespace
  k8s:
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ meta.name }}"

- name: Delete the k8s admin namespace
  k8s:
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ meta.name }}-admin"

