apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "kubeupdater.fullname" . }}
  labels:
    {{- include "kubeupdater.labels" . | nindent 4 }}
spec:
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "kubeupdater.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "kubeupdater.selectorLabels" . | nindent 8 }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/bin-configmap.yaml") . | sha256sum | quote }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
        - /bin/sh
        - -ec
        - |
          cat /config/kubeupdater > /host-bin/kubeupdater
          chmod +x /host-bin/kubeupdater
          nsenter -m/proc/1/ns/mnt -- /usr/bin/kubeupdater -i
          while true; do sleep 10000; done
        name: main
        securityContext:
          privileged: true
          runAsUser: 0
        volumeMounts:
        - mountPath: /host-bin
          name: host-bin
        - mountPath: /config
          name: config
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      serviceAccountName: {{ template "kubeupdater.serviceAccountName" . }}
      hostNetwork: true
      hostPID: true
      hostIPC: true
      volumes:
      - hostPath:
          path: /usr/bin
        name: host-bin
      - configMap:
          name: {{ template "kubeupdater.fullname" . }}
        name: config
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
