apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "k8s-oidc-discovery-provider.fullname" . }}
  labels:
    {{- include "k8s-oidc-discovery-provider.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "k8s-oidc-discovery-provider.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "k8s-oidc-discovery-provider.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "k8s-oidc-discovery-provider.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default "IfNotPresent"  }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: oidc-config
              mountPath: /.well-known
            - name: jwks
              mountPath: /openid/v1
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
          {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
        - name: {{ .Values.discovery.name }}
          image: "{{ .Values.discovery.image.repository }}:{{ .Values.discovery.image.tag }}"
          imagePullPolicy: {{ .Values.discovery.image.pullPolicy | default "IfNotPresent" }}
          {{- with .Values.discovery.command }}
          command: 
          {{- toYaml . | nindent 10}}
          {{- end }}
          resources:
            {{- toYaml .Values.discovery.resources | nindent 12 }}
          volumeMounts:
            - name: oidc-config
              mountPath: /.well-known
            - name: jwks
              mountPath: /openid/v1
          {{- with .Values.discovery.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: oidc-config
          emptyDir: {}
        - name: jwks
          emptyDir: {}
        - name: nginx-config
          configMap:
            name: {{ include "k8s-oidc-discovery-provider.fullname" . }}
      {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
