{{- if and (hasKey .Values "gateway") (.Values.gateway.enabled) }}
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ include "k8s-oidc-discovery-provider.fullname" . }}-gateway
{{- if and .Values.gateway (hasKey .Values.gateway "annotations") }}
  annotations:
    {{- with .Values.gateway.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
spec:
  gatewayClassName: {{ .Values.gateway.class }}
  listeners:
    - name: https
      protocol: HTTPS
      port: 443
      tls:
        mode: Terminate
        certificateRefs:
          - name: {{ .Values.gateway.cert }}
            kind: Secret
      allowedRoutes:
        namespaces:
          from: Same
{{- end }}
---
{{- if and (hasKey .Values "gateway") (.Values.gateway.enabled) }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "k8s-oidc-discovery-provider.fullname" . }}-httproute
spec:
  parentRefs:
    - name: {{ include "k8s-oidc-discovery-provider.fullname" . }}-gateway
  hostnames:
    {{- toYaml .Values.gateway.hosts | nindent 4}}
  rules:
    {{- range .Values.gateway.backends }}
    - matches:
      - path:
          type: PathPrefix
          value: "/"
      backendRefs:
      - name: {{ .service.name }}
        port: {{ .service.port }}
    {{- end }}
{{- end }}