apiVersion: v2
type: application
description: Chart for setting up a tenants namespace with all the goodies
name: tenant-namespace
version: 0.7.12
appVersion: "1.0"
dependencies:
- name: magic-namespace
  alias: adminmagicnamespace
  version: "0.5.4"
  repository: "https://pnnl-miscscripts.github.io/charts"
  condition: adminmagicnamespace.enabled
- name: magic-namespace
  alias: magicnamespace
  version: "0.5.4"
  repository: "https://pnnl-miscscripts.github.io/charts"
- name: ingress-nginx
  alias: ingress
  version: "4.2.3"
  repository: "https://kubernetes.github.io/ingress-nginx"
  condition: ingress.nginx.enabled
