replicaCount: 1

serverConfig: |-
  server {
    listen 8080;
    server_tokens off;

    location / {
      root /usr/share/nginx/html;
      return 404;
    }

    location /.well-known/ {
      alias /.well-known/;
    }

    location /openid/v1/ {
      alias /openid/v1/;
    }
  }

image:
  repository: nginx
  tag: 1.29.4

discovery:
  name: discovery
  image:
    repository: curlimages/curl
    tag: 8.17.0
  command:
    - sh
    - -c
    - |
      while true; do
        TOKEN="$(cat /var/run/secrets/kubernetes.io/serviceaccount/token)"
        curl \
          -H "Authorization: Bearer ${TOKEN}" https://kubernetes.default.svc.cluster.local:443/.well-known/openid-configuration --cacert /run/secrets/kubernetes.io/serviceaccount/ca.crt \
          -o /.well-known/openid-configuration

        curl \
          -H "Authorization: Bearer ${TOKEN}" https://kubernetes.default.svc.cluster.local:443/openid/v1/jwks --cacert /run/secrets/kubernetes.io/serviceaccount/ca.crt \
          -o /openid/v1/jwks

        sleep 300
      done
  extraVolumeMounts: []

extraVolumes: []

extraVolumeMounts: []

service:
  port: 8080

serviceAccount: 
  create: "true" 
ingress:
  enabled: false
  #ingressClassName: ""
  annotations: {}
  hosts: {}
  #  host: <hostname>
  #  path: /
  tls: []
  # - secretName: default-tls
  #    hosts:
  #      - <hostname>