apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "alma-kickstart.fullname" . }}
  labels:
    {{- include "alma-kickstart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "alma-kickstart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/grub-configmap.yaml") . | sha256sum | quote }}
        checksum/config2: {{ include (print $.Template.BasePath "/config-configmap.yaml") . | sha256sum | quote }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "alma-kickstart.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "alma-kickstart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: grub-cfg
              mountPath: /usr/share/nginx/html/EFI/BOOT/grub.cfg
              subPath: grub.cfg
            - name: configdir
              mountPath: /usr/share/nginx/html/EFI/BOOT/config
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: grub-cfg
          configMap:
            name: {{ include "alma-kickstart.fullname" . }}-grub
        - name: configdir
          configMap:
            name: {{ include "alma-kickstart.fullname" . }}-config
            items:
              {{- range $key, $value := .Values.config }}
              - key: {{ $key | replace ":" "" | quote }}
                path: {{ $key | quote }}
              {{- end }}
              {{- range $key, $value := .Values.extraFiles }}
              - key: {{ $key | quote }}
                path: {{ $key | quote }}
              {{- end }}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
