apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "tenant-namespace-operator.fullname" . }}-fl
  labels:
{{ include "tenant-namespace-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - miscscripts.pnnl.gov
  resources:
  - 'tenantnamespaceflavors'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - 'namespaces'
  - 'resourcequotas'
  - 'limitranges'
  verbs:
  - "*"
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - 'rolebindings'
  verbs:
  - "*"
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - 'clusterroles'
  - 'clusterrolebindings'
  verbs:
  - "*"
- apiGroups:
  - networking.k8s.io/v1
  resources:
  - networkpolicies
  verbs:
  - "*"
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - 'clusterroles'
  - 'clusterrolebindings'
  verbs:
  - "*"
- apiGroups:
  - extensions
  resources:
  - ingresses/status
  verbs:
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - update
