{{- if .Values.ingress.enabled -}}
{{- $dot := . }}
{{- $prefix := include "pnnlmiscscripts.k8s-node-image-full.ingress.prefix" . }}
{{- $aFullName := include "pnnlmiscscripts.k8s-node-image-full.anaconda.fullname" . -}}
{{- $nFullName := include "pnnlmiscscripts.k8s-node-image-full.k8s-node.fullname" . -}}
{{- if and .Values.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.ingress.annotations "kubernetes.io/ingress.class" .Values.ingress.className}}
  {{- end }}
{{- end }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "pnnlmiscscripts.k8s-node-image-full.fullname" . }}
  labels:
    {{- include "pnnlmiscscripts.k8s-node-image-full.labels" . | nindent 4 }}
  annotations:
{{- if .Values.ingress.regex }}
    nginx.ingress.kubernetes.io/rewrite-target: /$1
{{- end }}
{{- if eq (len .Values.ingress.tls) 0 }}
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
{{- end }}
    {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - http:
        paths:
          - path: {{ dict "dot" $dot "prefix" $prefix "suffix" "" "type" "d" | include "pnnlmiscscripts.k8s-node-image-full.ingress" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $nFullName }}
                port:
                  name: http
          - path: {{ dict "dot" $dot "prefix" $prefix "suffix" "images" "type" "d" | include "pnnlmiscscripts.k8s-node-image-full.ingress" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $aFullName }}
                port:
                  name: http
          - path: {{ dict "dot" $dot "prefix" $prefix "suffix" ".treeinfo" "type" "f" | include "pnnlmiscscripts.k8s-node-image-full.ingress" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $aFullName }}
                port:
                  name: http
          - path: {{ dict "dot" $dot "prefix" $prefix "suffix" "LICENSE" "type" "f" | include "pnnlmiscscripts.k8s-node-image-full.ingress" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $aFullName }}
                port:
                  name: http
          - path: {{ dict "dot" $dot "prefix" $prefix "suffix" "RockyLinux_BuildTag" "type" "f" | include "pnnlmiscscripts.k8s-node-image-full.ingress" }}
            pathType: Prefix
            backend:
              service:
                name: {{ $aFullName }}
                port:
                  name: http
      {{- if . }}
      host: {{ . | quote }}
      {{- end }}
    {{- end }}
{{- end }}
