{{- if .Values.gateway.enabled }}
{{- $root := . -}}
{{- $releaseNamespace := .Release.Namespace -}}
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ template "namespace.gatewayName" . }}
  namespace: {{ template "namespace.gatewayNamespace" . }}
  labels:
    {{- include "namespace.labels" . | nindent 4 }}
spec:
  gatewayClassName: {{ .Values.gateway.className }}
  listeners:
    {{- if .Values.gateway.httpListener.enabled }}
    - allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.magicnamespace.namespace }}
      name: http
      port: 80
      protocol: HTTP
    {{- end }}
    {{- if .Values.gateway.httpsListener.enabled }}
    - allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.magicnamespace.namespace }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        mode: Terminate
        certificateRefs:
        {{- range .Values.gateway.httpsListener.certificateRefs }}
          - group: {{ default "" .group | quote }}
            kind: {{ default "Secret" .kind }}
            name: {{ .name }}
            namespace: {{ tpl (.namespace | default $releaseNamespace) $root }}
        {{- end }}
    {{- end }}
    {{- with .Values.gateway.extraListeners }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  infrastructure:
    {{- if .Values.gateway.envoyProxyConfig.enabled }}
    parametersRef:
      group: gateway.envoyproxy.io
      kind: EnvoyProxy
      name: {{ template "namespace.gatewayName" . }}
    {{- else }}
    {{- with .Values.gateway.parametersRef }}
    parametersRef:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    {{- end }}
{{- end }}
