name: Build
on:
  schedule:
    - cron: '0 8 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

jobs:
  buildc-git:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build git container
        run: ./containers/build git
  buildc-curl-jq:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build curl-jq container
        run: ./containers/build curl-jq
  buildc-gitlab-runner-operator:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build gitlab-runner-operator container
        run: ./containers/build gitlab-runner-operator
  buildc-tenant-namespace-operator:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build tenant-namespace-operator container
        run: ./containers/build tenant-namespace-operator
  buildc-pixiecore:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build pixiecore container
        run: ./containers/build pixiecore
  buildc-ipmitool:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build ipmitool container
        run: ./containers/build ipmitool
  buildc-ipmi-exporter:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build ipmi-exporter container
        run: ./containers/build ipmi-exporter
  buildc-dhcpd:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build dhcpd container
        run: ./containers/build dhcpd
  buildc-inotify-tools:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build inotify-tools container
        run: ./containers/build inotify-tools
  buildc-chronyd:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build chronyd container
        run: ./containers/build chronyd
  buildc-debug-toolbox:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build debug-toolbox container
        run: ./containers/build debug-toolbox
  buildc-smartctl-exporter:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build smartctl-exporter container
        run: ./containers/build smartctl-exporter
  buildc-rpms-containerd:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-containerd container
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-containerd
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-containerd9
          rm -f rpm.priv
  buildc-rpms-node-base:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-node-base container
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-node-base
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-node-base9
          rm -f rpm.priv
  buildc-rpms-openvswitch:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-openvswitch container
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-openvswitch
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-openvswitch9
          rm -f rpm.priv
  buildc-rpms-k8s-22:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-kubernetes container 1.22
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-kubernetes 1.22
          rm -f rpm.priv
  buildc-rpms-k8s-23:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-kubernetes container 1.23
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-kubernetes 1.23
          rm -f rpm.priv
  buildc-rpms-k8s-24:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-kubernetes container 1.24
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-kubernetes 1.24
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-kubernetes9 1.24
          rm -f rpm.priv
  buildc-rpms-k8s-25:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-kubernetes container 1.25
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-kubernetes9 1.25
          rm -f rpm.priv
  buildc-rpms-k8s-21:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-kubernetes container 1.21
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-kubernetes 1.21
          rm -f rpm.priv
  buildc-rpms-k8s-28:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build rpms-kubernetes container 1.28
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build rpms-kubernetes9 1.28
          rm -f rpm.priv
  buildc-anaconda:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build anaconda container
        run: ./containers/build anaconda
      - name: Build anaconda9 container
        run: ./containers/build anaconda9

  build-node-image-22:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    - buildc-rpms-containerd
    - buildc-rpms-openvswitch
    - buildc-rpms-k8s-22
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build full k8s node image 1.22
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build k8s-node-image 1.22
          rm -f rpm.priv
  build-node-image-23:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    - buildc-rpms-containerd
    - buildc-rpms-openvswitch
    - buildc-rpms-k8s-23
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build full k8s node image 1.23
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build k8s-node-image 1.23
          rm -f rpm.priv
  build-node-image-24:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    - buildc-rpms-containerd
    - buildc-rpms-openvswitch
    - buildc-rpms-k8s-24
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build full k8s node image 1.24
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build k8s-node-image 1.24
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build k8s-node-image9 1.24
          rm -f rpm.priv
  build-node-image-25:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    - buildc-rpms-containerd
    - buildc-rpms-openvswitch
    - buildc-rpms-k8s-25
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build full k8s node image 1.25
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build k8s-node-image9 1.25
          rm -f rpm.priv
  build-node-image-21:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    - buildc-rpms-containerd
    - buildc-rpms-openvswitch
    - buildc-rpms-k8s-21
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build full k8s node image 1.21
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build k8s-node-image 1.21
          rm -f rpm.priv
  build-node-image-28:
    runs-on: ubuntu-20.04
    needs:
    - buildc-rpms-node-base
    - buildc-rpms-containerd
    - buildc-rpms-openvswitch
    - buildc-rpms-k8s-28
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build full k8s node image 1.28
        env:
          RPM_GPG_KEY: ${{ secrets.RPM_GPG_KEY }}
        run: |
          printf "%s" "$RPM_GPG_KEY" > rpm.priv
          ./containers/build k8s-node-image9 1.28
          rm -f rpm.priv

  buildc-anaconda-nginx:
    runs-on: ubuntu-20.04
    needs:
    - buildc-anaconda
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build anaconda+nginx container
        run: ./containers/build anaconda-nginx
      - name: Build anaconda+nginx9 container
        run: ./containers/build anaconda-nginx9
  build-node-image-22-nginx:
    runs-on: ubuntu-20.04
    needs:
    - build-node-image-22
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build k8s-node-image+nginx container 1.22
        run: ./containers/build k8s-node-image-nginx 1.22
  build-node-image-23-nginx:
    runs-on: ubuntu-20.04
    needs:
    - build-node-image-23
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build k8s-node-image+nginx container 1.23
        run: ./containers/build k8s-node-image-nginx 1.23
  build-node-image-24-nginx:
    runs-on: ubuntu-20.04
    needs:
    - build-node-image-24
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build k8s-node-image+nginx container 1.24
        run: ./containers/build k8s-node-image-nginx 1.24
      - name: Build k8s-node-image+nginx9 container 1.24
        run: ./containers/build k8s-node-image-nginx9 1.24
  build-node-image-25-nginx:
    runs-on: ubuntu-20.04
    needs:
    - build-node-image-25
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build k8s-node-image+nginx9 container 1.25
        run: ./containers/build k8s-node-image-nginx9 1.25
  build-node-image-21-nginx:
    runs-on: ubuntu-20.04
    needs:
    - build-node-image-21
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build k8s-node-image+nginx container 1.21
        run: ./containers/build k8s-node-image-nginx 1.21
  build-node-image-28-nginx:
    runs-on: ubuntu-20.04
    needs:
    - build-node-image-28
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Build k8s-node-image+nginx9 container 1.28
        run: ./containers/build k8s-node-image-nginx9 1.28

  build-image-library-charts:
    runs-on: ubuntu-20.04
    needs:
    - buildc-anaconda-nginx
    - buildc-chronyd
    - buildc-debug-toolbox
    - buildc-dhcpd
    - buildc-inotify-tools
    - buildc-ipmi-exporter
    - buildc-ipmitool
    - build-node-image-22-nginx
    - build-node-image-23-nginx
    - build-node-image-24-nginx
    - build-node-image-25-nginx
    - build-node-image-21-nginx
    - build-node-image-28-nginx
    - buildc-pixiecore
    - buildc-smartctl-exporter
    env:
      GITHUB_LIBRARY_CHARTS_TOKEN: ${{ secrets.GIT_LIBRARY_CHARTS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Configure Git
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Build image library charts
        run: ./charts/image-library-charts/buildall

  build-charts:
    runs-on: ubuntu-20.04
    needs:
    - build-image-library-charts
    - buildc-gitlab-runner-operator
    - buildc-tenant-namespace-operator
    env:
      GITHUB_LIBRARY_CHARTS_TOKEN: ${{ secrets.GIT_LIBRARY_CHARTS_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.0
      - name: Configure Git
        run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Build charts
        run: ./charts/charts/buildall
